body {
    background-color: #c0c0c0;
}

.navigation-list > ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    gap: 0.5rem;
}

.bold {
    font-weight: bold;
}